<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Créer une Banque</span>
    <div class="grid">
     
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="nom" class="font-medium text-900">Nom</label>
                    <input id="nom" type="text" pInputText [(ngModel)]="newBanque.nom" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="adresse" class="font-medium text-900">Adresse</label>
                    <input id="adresse" type="text" pInputText [(ngModel)]="newBanque.adresse" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="contacts" class="font-medium text-900">Contacts</label>
                    <input id="contacts" type="text" pInputText [(ngModel)]="newBanque.contacts" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="service" class="font-medium text-900">Service</label>
                    <p-multiSelect [options]="Service" [(ngModel)]="selectedService" defaultLabel="Select a Service" optionLabel="name" display="chip"></p-multiSelect>
                </div>
                <div class="col-12">
                    <button pButton pRipple label="Créer une Banque" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </div>
</div>
