<div class="card">
    <p-table
        #dt
        [value]="clients"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['clientName', 'address', 'assigned']"
    >
        <ng-template pTemplate="caption">
            <div
                class="flex flex-wrap gap-2 align-items-center justify-content-between"
            >
                <span
                    class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0"
                >
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="onGlobalFilter(dt, $event)"
                        placeholder="Global Search"
                        class="w-full"
                    />
                </span>
                <button
                    (click)="navigateToCreateClient()"
                    pButton
                    class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1"
                    icon="pi pi-user-plus"
                    label="Créer un Client"
                ></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th
                    pSortableColumn="clientName"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    Non de client <p-sortIcon field="clientName"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="address"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    Addresse <p-sortIcon field="address"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="assigned"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                Asociée <p-sortIcon field="assigned"></p-sortIcon>
                </th>
                <th
                    pSortableColumn="regime"
                    class="white-space-nowrap"
                    style="width: 25%"
                >
                    Regime <p-sortIcon field="regime"></p-sortIcon>
                </th>
                <th style="width: 10%">Actions</th> 
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
            <tr>
                <td>{{ client.clientName }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.assigned.join(', ') }}</td>
                <td>{{ client.regime }}</td>
                <td>
                    <ng-container *ngIf="client.id"> <!-- Vérification si l'ID existe pour afficher les boutons -->
                        <button (click)="updateClient(client)" pButton icon="pi pi-pencil" class="p-button-outlined p-button-secondary mr-2 mb-2" tooltip="Update"></button>
                        <button (click)="deleteClient(client)" pButton icon="pi pi-trash" class="p-button-outlined p-button-danger" tooltip="Delete"></button>
                    </ng-container>
                </td>
                
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog header="Confirmation" key="confirm1" icon="pi pi-exclamation-triangle" message="Are you sure you want to proceed?"
[style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
