<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Créer un Avantage</span>
    <div class="grid">
     
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="avantage" class="font-medium text-900">Avantage</label>
                    <input id="avantage" type="text" pInputText [(ngModel)]="newAvantage.avantage" />
                </div>
               
                <div class="col-12">
                    <button pButton pRipple label="Créer un Avantage" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </div>
</div>
