<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Créer un Client</span>
    <div class="grid">
        
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="clientName" class="font-medium text-900">Nom de client </label>
                    <input id="clientName" type="text" pInputText [(ngModel)]="newClient.clientName" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="email" class="font-medium text-900">Email</label>
                    <input id="email" type="email" pInputText [(ngModel)]="newClient.email" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="phone" class="font-medium text-900">Phone</label>
                    <input id="phone" type="text" pInputText [(ngModel)]="newClient.phone" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="address" class="font-medium text-900">Adresse</label>
                    <input id="address" type="text" pInputText [(ngModel)]="newClient.address" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="avantage" class="font-medium text-900">Avantage</label>
                    <p-multiSelect [options]="Avantage" [(ngModel)]="selectedAvantage" defaultLabel=" select avantage " optionLabel="name"
                    display="chip"></p-multiSelect>
                </div>
                <div class="field mb-4 col-12">
                    <label for="assigned" class="font-medium text-900">Associée</label>
                    <p-multiSelect [options]="Assigner" [(ngModel)]="selectedAssigner" defaultLabel="Assigner a" optionLabel="name"
                    display="chip"></p-multiSelect>
                
                </div>
                <div class="field mb-4 col-12">
                    <label for="regime" class="font-medium text-900">Regime</label>
                    <p-multiSelect [options]="Regime" [(ngModel)]="selectedRegime" defaultLabel="Select a Regime" optionLabel="name" display="chip"></p-multiSelect>
                </div>
              <!-- <div class="field mb-4 col-12">
                    <label for="service" class="font-medium text-900">Service</label>
                    <p-multiSelect [options]="Service" [(ngModel)]="selectedService" defaultLabel="Select a Service" optionLabel="name" display="chip"></p-multiSelect>
                </div> --> 
                <div class="field-wrapper">
                    <div class="field mb-4 col-12">
                        <label for="banque" class="font-medium text-900">Banque</label>
                        <p-multiSelect id="banque" [options]="Banque" [(ngModel)]="selectedBanque" defaultLabel="Select a Banque" optionLabel="name" display="chip"></p-multiSelect>
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="rib" class="font-medium text-900">RIB</label>
                        <input id="rib" type="text" pInputText [(ngModel)]="newClient.rib" />
                    </div>
                </div>
                
               
                <div class="col-12">
                    <button pButton pRipple label="Créer Client" class="w-auto mt-3" (click)="createClient()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
