<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Créer un Régime</span>
    <div class="grid">
        
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="regime" class="font-medium text-900">Régime</label>
                    <input id="regime" type="text" pInputText [(ngModel)]="newRegime.regime" />
                </div>
         
                <div class="col-12">
                    <button pButton pRipple label="Créer un Régime" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </div>
</div>
