<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Créer un Associé</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Profil</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3">
                <!-- Placeholder -->
            </p>
        </div>
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="nom" class="font-medium text-900">Nom</label>
                    <input id="nom" type="text" pInputText [(ngModel)]="newAssocie.nom" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="prenom" class="font-medium text-900">Prénom</label>
                    <input id="prenom" type="text" pInputText [(ngModel)]="newAssocie.prenom" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="email" class="font-medium text-900">Email</label>
                    <input id="email" type="text" pInputText [(ngModel)]="newAssocie.email" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="telephone" class="font-medium text-900">Téléphone</label>
                    <input id="telephone" type="text" pInputText [(ngModel)]="newAssocie.telephone" />
                </div>
                <div class="col-12">
                    <button pButton pRipple label="Créer un Associé" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </div>
</div>
