<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Créer un Service</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Détails du Service</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3">
                <!-- Placeholder -->
            </p>
        </div>
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12">
                    <label for="nomService" class="font-medium text-900">Nom du Service</label>
                    <input id="nomService" type="text" pInputText [(ngModel)]="newService.nomService" />
                </div>
                <div class="field mb-4 col-12">
                    <label for="description" class="font-medium text-900">Description</label>
                    <input id="description" type="text" pInputText [(ngModel)]="newService.description" />
                </div>
                <div class="col-12">
                    <button pButton pRipple label="Créer un Service" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </div>
</div>
